#base {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0px;
}

#header {
    background-color: skyblue;
    flex: 0 1 auto;
    height: 150px;
}
#body {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
}
#footer {
    background-color: powderblue;
    flex: 0 1 auto;
    height: 100px;
}

#left-sidebar {
    background-color: palegreen;
    flex: 0 1 auto;
    width: 300px;
}
.l-sidebar-row {
    background-color: aquamarine;
    text-align: center;
    font-weight: bold;
    margin: 5px;
}
.l-sidebar-row-title {
    display: inline-block;
    cursor: pointer;
}
.l-sidebar-title {
    background-color: coral;
    text-align: center;
}

#panel{
    background-color: wheat;
    flex: 1 1 auto;
    display: flex;
}

#app-container {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    width: 0px;
}

#void-container {
    display: none;
}

#app-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
}